<footer class="container-fluid bg-light fixed-bottom mb-5">
  <div class="row">
    <section class="col text-center">Volonne</section>
    <section class="col text-center">Volonne</section>
    <section class="col text-center">Volonne</section>
  </div>
</footer>
