<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>RCommerce |
			{% block title %}{% endblock %}
		</title>

		<link rel="stylesheet" href="https://bootswatch.com/5/sketchy/bootstrap.min.css">
		<link rel="stylesheet" href="https://bootswatch.com/5/sketchy/bootstrap.css">
		<link rel="stylesheet" href="https://bootswatch.com/_vendor/bootstrap-icons/font/bootstrap-icons.css">
		<link
		rel="stylesheet" href="https://bootswatch.com/_vendor/prismjs/themes/prism-okaidia.css">
	{# <link rel="stylesheet" href="https://bootswatch.com/_assets/css/custom.min.css"> #}

	</head>
	<body>

		{% include "_partials/_nav.html.twig" %}
    
		{% block body %}{% endblock %}
		{% include "_partials/_footer.html.twig" %}


		{% block stylesheets %}{% endblock %}
		<script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
		<script src="https://bootswatch.com/_vendor/prismjs/prism.js"></script>

		{% block javascripts %}{% endblock %}
	</body>
</html>
